// setting variables for reference
$black1:rgb(0,0,0,0.2);
$black2:rgb(0,0,0,0.4);
$black3:rgb(0,0,0,0.6);
$black4:rgb(0,0,0,0.8);
$black5:rgb(0,0,0,1);
$white: #ffffeb;
$red: #8f1a00;
$orange: #e57a10;
$green: green;
$draculaPurple: #bd93f9;
$warning:rgba(226, 102, 31, 0.6);
$error:rgba(245, 60, 60, 0.6);
$font1: courier monospace;
$background: linear-gradient(135deg, hsla(295, 73%, 16%, 1) 0%, hsla(0, 71%, 20%, 1) 100%);

body{
  background: $background;
  background-size: cover;
}

// setting defaults for page
* {
  box-sizing: border-box;
  font-family: $font1;
  margin: 0;
  padding: 0;
}

// settings for highest parent div
#entry {
}

//formatting for the title div
#title {
  color: $white;
  mix-blend-mode: luminosity;
  font-size: 3em;
  height: 10%;
  padding: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}


.Container {
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  padding: 1em;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 15px;
}

#RulesTitle{
  justify-content: space-between;
}

//applies to rule and env
h2 {
  color: $white;
  mix-blend-mode: luminosity;
  font-size: 2.5em;
  font-weight: bold;
}

.Title h3{
  color: $white;
  mix-blend-mode: luminosity;
  font-size: 1.5em;
  font-weight: bold;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, auto));
  grid-auto-rows: 2.5em;
  grid-gap: 2em;
}

.Text {
  font-size: clamp(1rem, 0.9vw, 4rem);
  mix-blend-mode: luminosity;
}

#row{
  display: flex;
}

.Item{
  color: $white;
  cursor: pointer;
  opacity: 30%;
  background-color: $black2;
  border: medium solid $white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
}

// formatting for the sign-in container
#sign-in-container {
  background-color: $black1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// formatting for the sign-in box
#sign-in {
  border: 1px solid black;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
  width: 30%;
  padding: 0.5em;
}

// formatting for row in sign-in box
.oAuth {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.oAuth:hover {
  cursor: pointer;
  background-color: $black3;
  opacity: 0.2;
}

// formatting for the icon in login row
.oAuth img {
  height: 2em;
  width: 2em;
}

// formatting for the name in login name
.oAuthName {
  padding: 1em;
}

.saved-configs {
  display: flex;
  justify-content: center;
}

.saved-config-btn {
  cursor: pointer;
}

.saved-config-del-btn{
  cursor: pointer;
  margin: 3px;
  background:transparent;
  border: none;
  color: red;
  font-size: 1.1em;
  padding: 2px;
  display: inline;
}

.ui-btn {
  padding: 10px;
  border-radius: 50px;;
  border: none; 
  margin: 5px;

  background: black;
  color: white;
}

#import-input {
  display: none;
}